.contenedor{
    background-color: lightgoldenrodyellow;
    overflow: auto;
}

.courier_button{
    background-color: orange;
    padding:0.5rem;
    border-radius: 0.5rem;
}
.courier_button:active{
    background-color: rgb(255, 204, 111);
}
.courier_button:disabled{
    background-color: rgb(186, 158, 107);
}
.validate_button{
    background-color:mediumseagreen;
    color:white;
    font-weight: bold;
}
.unvalidate_button{
    background-color:firebrick;
    font-weight: bold;
    color:white;
}

h1{
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
}
.couriers_quantity{
    font-weight: bolder;
    color: orange;
}