:root {
    --main-color: rgb(173, 175, 76);
    --accent-color: #f0f0f0;
    --text-color: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to bottom right, #f5ebe9, rgb(240, 215, 146));
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

header {
    text-align: center;
    margin-bottom: 2rem;
}

h1 {
    font-size: 3rem;
    color: rgb(207, 124, 0);
}

p {
    font-size: 1.2rem;
    margin-top: 1rem;
}

.btn {
    margin-top: 2rem;
    padding: 0.8rem 1.5rem;
    background-color: rgb(250, 150, 0);
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: rgb(133, 84, 12);
}
.btn:active {
    background-color: rgb(247, 173, 63);
    transition: 0ms;
}
footer {
    position: absolute;
    bottom: 20px;
    font-size: 0.9rem;
    color: #888;
}